In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.ensemble import RandomForestRegressor

In [3]:
data = pd.read_csv("diamonds_clean.csv", index_col=0)
data.head()

,carat,depth,table,price,x,y,z,Cut_num,Clarity_num,Color_num
0,0.23,61.5,55.0,326,3.95,3.98,2.43,5,2,6
1,0.21,59.8,61.0,326,3.89,3.84,2.31,4,3,6
2,0.23,56.9,65.0,327,4.05,4.07,2.31,2,5,6
3,0.29,62.4,58.0,334,4.20,4.23,2.63,4,4,2
4,0.31,63.3,58.0,335,4.34,4.35,2.75,2,2,1

In [4]:
X = data.drop(columns=['price'])
y = data[['price']]

Seleccionamos un 20% de muestra como particion de train/test

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

Usaremos un RandomForest como modelo de regresion

In [8]:
reg=RandomForestRegressor(random_state=42)
reg.fit(X_train,y_train)
ypred=reg.predict(X_test)

c:\Users\pedro\miniconda3\envs\diamonds\lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [10]:


print("R^2:",r2_score(y_test, ypred))
print("Adjusted R^2:",1 - (1-r2_score(y_test, ypred))*(len(y_test)-1)/(len(y_test)-X_test.shape[1]-1))

R^2: 0.9813991475240327
Adjusted R^2: 0.9813835834042591